<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864238052954-33k6l8p5ll651v4acae36esg2qcdjne3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864238052954-33k6l8p5ll651v4acae36esg2qcdjne3</string>
	<key>API_KEY</key>
	<string>AIzaSyDHPwHRjgs1Mutxu9zTe9FfXh9q9LFk7Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>864238052954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.likhitgarimella.KartRedo</string>
	<key>PROJECT_ID</key>
	<string>kartredo</string>
	<key>STORAGE_BUCKET</key>
	<string>kartredo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864238052954:ios:25f88b5b954c6c4cc21a63</string>
	<key>DATABASE_URL</key>
	<string>https://kartredo.firebaseio.com</string>
</dict>
</plist>